/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Readex Pro";
  src: url("/@assets/fonts/ReadexPro/ReadexPro-VariableFont_HEXP,wght.ttf")
    format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Readex Pro";
  src: url("/@assets/fonts/ReadexPro/ReadexPro-VariableFont_HEXP,wght.ttf")
    format("ttf");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  direction: rtl;
  text-align: right;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.translate-x-rtl {
  @apply rtl:-translate-x-6 ltr:translate-x-6;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.container {
transition: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

@media (min-width: 320px) {
  .container {
    
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}

@media (max-width: 560px) {
  .minimum {
    max-width: 7rem;
  }
}
@media (max-width: 470px) {
  .minimum {
    max-width: 6rem;
  }
}
@media (max-width: 400px) {
  .minimum {
    max-width: 5.5rem;
  }
}
